# Directories
# -----------
/.idea/
/avr/cache/
/avr/mock-server/request/
/avr/mock-server/*.log
/avr/mock-server/ssl/
/vro/mock-server/request/
/vro/mock-server/*.log
/vro/mock-server/ssl/
repo-*/
tmp/

# Files
# -----
*.exe
/build-version.json
/really-i-need-a-file.txt
/avr/info.go
/avr/mock-server/mock-server.exe
/vro/info.go
/vro/mock-server/mock-server.exe
/vro/vro$
/avr/avr$
.ash_history
app.env
orb.yml
