# Directories
# -----------
/.docker/ssl
/.idea/
/avr/cache/
/avr/mock-server/request/
/avr/mock-server/*.log
/avr/mock-server/ssl/
repo-*/
!avr/mock-server/responses/repo-no-releases/
!avr/mock-server/responses/repo-01/
tmp/

# Files
# -----
*.exe
/build-version.json
/really-i-need-a-file.txt
/avr/info.go
/avr/mock-server/mock-server.exe
/avr/testdata/*.private.env.json
/avr/avr$
.ash_history
app.env
orb.yml
